@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e5e7eb;
  max-width: 1480px;
}

.dark body {
  background-color: #131126;
}

@media (prefers-color-schema: dark) {
  html {
    color-scheme: dark;
  }
}

.customShadow {
  box-shadow: 0px 5px 10px 0px #255973;
  transition: 0.2s;
}

.customShadow:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px #255973;
}
